.app-wrapper{
    display: grid;
    grid-template-areas:
    'h h'
    'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr ;
    margin: 10px;

}
.nav{
grid-area: n;
    background-color: darkcyan;
}
.header{
grid-area: h;
    background-color: rosybrown;
}
.header img{
    width: 50px;
    height: 50px;
}
.content{
    background-color: green;
grid-area: c;
}